body {
  font-family: "Helvetica neue", sans-serif;
  font-size: 14px;
}

.outer_cell {
}

h1 {
  font-size: 40pt;
}

img {
  max-height: 2.5cm;
  border-radius: 3px;
  border: 1px #999 solid;
}

.image {
  position: relative;
  background-color: #f00;
  width: 0px;
}

.rating {
  position: absolute;
  margin-left: 5px;
  margin-top: 1px;
  color:#fff; 
  font-size: 20px;
  font-weight: 450;
  text-shadow:2px 2px 1px #333;
  opacity: 0.90;
}

.cell {
  float: left;
  padding-right: 5px;
}

.comment {
  font-size: 8px;
  color: #888;
  margin-top: -4px;
  text-align: left;
  font-weight: 200;
}

table {
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:collapse;
}

tr {
  border-bottom: 1px solid #ccc;
}


th.name {
  color: #333;
  font-size: 24px;
  font-weight: 300;
  width: 400px;
  display: block;
  text-align: left;
  margin-left: 5px;
  margin-top: 50px;
  font-weight: 600;
}

/* time */

thead th {
  font-size: 24pt;

  padding: 10px 10px 15px 10px;
  color: #8cd;
  font-weight: 300;
  text-align: left;
  border-right: 1pt dotted #ddd;
  font-weight: 600;
}

thead th:empty{
    background:transparent;
    border:none;
}

tbody td{
    text-align:center;
    background-color:#f4f4f4;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;
    white-space: nowrap;
    border-right: 1pt dotted #ddd;
}

td:empty {
    background:transparent;
    border:none;
}


